* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins",sans-serif;
}
ul,ol {
    list-style: none;
}
img {
    width: 100%;
}
h1,h2,h3,h4,h5,h6 {
    color: #212121;
    font-weight: 500;
}
h1,.h1 {
    font-size: 2.986rem;
    margin-bottom: 1.5rem;
}
h2,.h2 {
    font-size: 2.488rem;
    margin-bottom: 1rem;
}
h3,.h3 {
    font-size: 2.074rem;
    margin-bottom: 1rem;
}
h4,.h4 {
    font-size: 1.728rem;
}
h5,.h5 {
    font-size: 1.44rem;
}
h6,.h6 {
    font-size: 1.2rem;
}
p,.p {
    font-size: 1rem;
    color: #666;
    line-height: 2rem;
}

header {
    border-bottom: 1px solid #ddd;
    padding: 1rem .5rem;
}
.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo {
    font-size: 1.875rem;
    text-decoration: none;
    color: #212121;
    font-weight: 700;
}
.navlists {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.navlists a {
    text-decoration: none;
    color: #666;
}
.shop-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.shop-icons a {
    text-decoration: none;
    color: #212121;
    font-size: 1.5rem;
}

.product-details-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 3.125rem 0;
}

.imageholder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.imageholder img {
    width: 100%;
    height: 100%;
}
.thumbs {
    display: grid;
}
.thumb1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.thumb2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.thumb3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
.thumb4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}
.mainpic {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: span 4;
}

.product-description h3 {
    color: #666;
    font-weight: 400;
}
.variants {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-bottom: 2rem;
}
.variants li {
    width: 32px;
    height: 32px;
    background: #eee;
    border-radius: 50%;
}

.shop-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    margin-top: 2rem;
}
.btn {
    border-radius: 5px;
    padding: 1rem 2rem;
    border: none;
    font-family: "Poppins",sans-serif;
    font-size: 1rem;
    text-decoration: none;
}
.add-cart-btn {
    background: #212121;
    color: white;
}
.buy-now-btn {
    border: 1px solid #212121;
    text-align: center;
    color: #212121;
}

.similar-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}
.single-prdt {
    border: 1px solid #ddd;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.single-prdt h3 {
    margin-bottom: .5rem;
}
.price-add-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
}
.prdt-cart-btn {
    background: #212121;
    border-radius: 5px;
    padding: .5rem 1rem;
    font-family: "Poppins",sans-serif;
    font-size: .875rem;
    color: white;
    border: none;
}

.prdt-dtls {
    padding: .8rem;
}